<header>
  <img src="../assets/logo-creditWA.png">
</header>

<div class="links">
  <a href="#/extrato">Extrato</a><--->

  <a href="#/pagamento">Pagamento</a>
</div>

<main>

  <micro-app-extrato></micro-app-extrato>
  <micro-app-payment></micro-app-payment>
</main>
